# -*- mode: Conf -*-

################################################################################
# Secret
tasks/.github-token
invoke.yaml

################################################################################

__TRASH__/
nogit/

################################################################################
# Emacs backup
*~

# IDE exclude
.idea
*.sublime-*

################################################################################
# Python cache 
__pycache__

################################################################################
# Logs
*.log
# logs
# /logs

################################################################################
# NPM / Yarn
# .npm
# .node_repl_history
# npm-debug.log*
# .yarn

################################################################################
# Webpack
.webpack-cache
# .fusebox

################################################################################
# Dependency directories
node_modules
# npm/node_modules

################################################################################
# Test results
# test-results/
# .scannerwork

################################################################################
# Deployment builds
# dist

################################################################################
# Config Files
wikijs-server/config.yml

# Generated assets
/assets
wikijs-server/assets/
wikijs-server/views/master.pug
wikijs-server/views/legacy/master.pug
wikijs-server/views/setup.pug

# Localization Resources
/server/locales/**/*.yml

################################################################################
# Wiki instance data
wikijs-server/test-instance/
# /repo
/data
wikijs-server/data
# /uploads
# /content
# /temp
*.sqlite

################################################################################
# Links
client
server
.__pnpm-cache__
.__pnpm-store__

################################################################################

resources/

################################################################################
# ...

review.json

__NOTES__/

TODO.md

doc/outline.md
doc/sql/sqlite-content.sql
doc/sql/sqlite-fresh-full.sql
doc/wget/
doc/yarn-audit/

# apage.html
# imports.json
# mdi-updates.txt
# package.json-backup
# webpack.prod.js
# yarn.lock-*
 
# wikijs-server/assets/
# wikijs-server/config.yml
# wikijs-server/package-backup.json
# wikijs-server/pnpm-prune-log.txt
# wikijs-server/pnpm-workspace.yaml
# wikijs-server/server/views/legacy/master.pug
# wikijs-server/server/views/master.pug
# wikijs-server/server/views/setup.pug
